<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "my.timer"
    versionCode = "10" >

<!-- versionCode is optional and Android only -->
	
  <name>Gym Timer</name>

  <description>
      An example for phonegap build docs.
  </description>

  <author>
     M & S
  </author>
<feature name="Vibration">
    <param name="android-package" value="org.apache.cordova.vibration.Vibration" />
</feature>
<feature name="Media">
    <plugin name="Media" value="org.apache.cordova.AudioHandler" />
</feature>
<feature name="Notification">
    <param name="android-package" value="org.apache.cordova.Notification" />
</feature>
</widget>
